@font-face {
    font-family: vazir;
    src: url("./Vazir.woff2") format('woff2');
  }
  html, body{
      font-family: vazir;
  }
  a,p,span,div{
      font-family: vazir;
  }

  .swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right: 3rem;color:#444; }

  footer{
    background-color: rgb(23, 69, 129);
    position: relative;
    bottom: 0 !important;
    left: 0;
    right: 0;
}
footer p{
    color: rgb(218, 218, 218);
    /* line-height: .8rem; */
    font-size: .9rem;
}